<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights>
  <!-- This key is for Application Insights resource 'ProgParty.Marktplaats.WindowsPhone' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">4df71c47-9471-44de-af2d-67301b138d06</InstrumentationKey>
</ApplicationInsights>